# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
db/
uploads/

# Node
node_modules/
.next/
out/
build/

# IDEs
.vscode/
.idea/

# Local DBs & Test Artifacts
*.db
*.sqlite
*.sqlite3
*.log
dummy.pdf
backend/test.txt

# OS
.DS_Store
Thumbs.db
